<!DOCTYPE html>
<html lang="{{ .Lang }}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{ .EmailVerifyTitle }}</title>
    {{template "style.tmpl" .}}
</head>
<body>

<table role="presentation" class="body">
    <tr>
        <td>&nbsp;</td>
        <td class="container">
            <div class="content">

                {{template "header.tmpl" .}}

                <table role="presentation" class="main">

                    <tr>
                        <td class="wrapper">
                            <h2>{{ .Hello }}</h2>
                            <p>{{ .EmailVerifyText1 }}</p>
                            <p class="code">{{ .Code }}</p>
                            <p>{{ .ThankYou }}</p>
                            <p>Hiyoko {{ .Team }}</p>
                        </td>
                    </tr>

                </table>

                {{template "footer.tmpl" .}}

            </div>
        </td>
        <td>&nbsp;</td>
    </tr>
</table>

</body>
</html>
