{{ define "db_client" }}

{{ $pkg := base $.Config.Package }}
{{- with extend $ "Package" $pkg }}
  {{ template "header" . }}
{{- end }}

import (
  "database/sql"

  "entgo.io/ent/dialect"
  entsql "entgo.io/ent/dialect/sql"
)

func (c *Client) DB() *sql.DB {
  if c.debug {
    return c.driver.(*dialect.DebugDriver).Driver.(*entsql.Driver).DB()
  }
  return c.driver.(*entsql.Driver).DB()
}


{{ end }}
