{{/* 社名や組織名、連絡先情報、ウェブサイトのリンク、免責事項、プライバシーポリシーと利用規約へのリンク、社会的な証明、アンサブスクライブリンク、著作権表示 */}}
<div class="footer">
    <table role="presentation">
        <tr>
            <td class="content-block">
                Copyright© 2024 hiyoko, All rights reserved.
            </td>
        </tr>
    </table>
</div>
