name: "CI"

on:
  push:
    branches:
      - main
      - feature/*
  pull_request:
    branches:
      - main
      - develop
      - feature/*
      - fix/*
      - chore/*
      - refactor/*
    types:
    - opened
    - reopened
    - synchronize
    - ready_for_review

permissions:
  actions: none
  checks: none
  contents: read
  deployments: none
  id-token: none
  issues: none
  discussions: none
  packages: none
  pages: none
  pull-requests: write
  repository-projects: none
  security-events: none
  statuses: none

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    if: github.event.pull_request.draft == false
    name: CI
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        id: setup-go
        with:
          go-version-file: "go.mod"
      - name: Download Go modules
        shell: bash
        if: ${{ steps.setup-go.outputs.cache-hit != 'true' }}
        run: go mod download
      - name: Run Test
        run: |
          go test -v ./...
          go vet -v ./...
      - name: Run Lint staticcheck
        uses: dominikh/staticcheck-action@v1.3.0
        with:
          version: "2023.1.1"
          install-go: false
          cache-key: ${{ matrix.go }}
